* {
    box-sizing: border-box;
    font-family: centurygothic, applegothic, serif;
    text-align: center;
}
#scoreboard {
    display: grid;
    grid-template-columns: 25vmin 25vmin;
    grid-template-rows: 10vmin 2vmin 10vmin;
    justify-content: center;
    align-items: center;
}

#p-score {
    color:pink;
}
#k-score {
    color: #914186;
}

body {
    margin: 0;
    color: whitesmoke;
    background-color: rgba(64,64,64,1);
}

header {
    text-align: center;
    color: #c27cb5;
}
h1 {
    font-family: 'Raleway Dots', serif;
    font-size: 64px;
    text-align: center;
    color: #e17f93;
}
#container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4,90px) 90px;
    grid-template-rows: repeat(4, 90px) auto;
    margin-top: -40px;
}

button {
    border: 1px dotted black;
}

[hidden] {
    background-color: whitesmoke;
}


button:hover {
    background-color: black;
    color: white;
}
div {
    display: flexbox;
    font-size: 1.5rem;
}
#startBtn, #resetBtn {
    background-color: whitesmoke;
    margin-top: 5vmin;
    padding: 10px;
    border: 1px solid #221d24;
    text-align: center;
}

#startBtn:hover {
    background-color: #914186;
}
#resetBtn:hover {
    background-color: #f68bc4;
}
#p-win {
    display: inline-block;
    color: #f8bcc9;
    margin-top: 5vmin;
    font-family: 'Press Start 2P', serif;
    font-size: 1rem;
}
#k-win {
    display: inline-block;
    color: #ca22a6;
    margin-top: 5vmin;
    font-family: 'Press Start 2P', serif;
    font-size: 1rem;
}
    /*COLOR FOR SAFE TILES*/
    /* background-color: #f9cdf1;*/
    /*COLOR FOR MINE TILES*/
    /* background-color: #a8a1c2;
} */